body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

#header{
    margin: 10px;
    display: flex;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

#jokeData{
    padding: 4px;
    margin: 50px;
    margin-top: 70px;
    height: 300px;
    display: flex;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    background-color: bisque;
}

#btn{
    margin:auto;
    margin-top: 10px;
    display: flex;
    border: solid 1px black;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-radius: 5px;
}